<h2>Home</h2>
<p>Search for a trail of interest. </p>

<form class="form" action="/search" method="GET">
  <label for="city-input">Enter a US City Name</label>
  <input id="city-input" type="text" name="city" required>
  <label for="state-input">Enter a US State</label>
  <input id="state-input" type="text" name="state" required>
  <button type="submit">Submit</button>
</form>

<% searchResults.forEach(function(result) { %>
  <a
    class="trail-name-link"
    href="/trail/<%= result.name %>"
    data-name="<%= result.name %>"
    data-directions="<%= result.directions %>"
    data-description="<%= result.description %>"
    data-activity-type="<%= result.activities[0].activity_type_name %>"
    >
    <p><%= result.name %></p>
  </a>
  <% if(result.activities.length > 0) { %>
    <p><%= result.activities[0].activity_type_name %></p>
    <p><%= result.description %></p>
    <p><%= result.directions %></p>
  <% } %>
  <hr />
<% }); %>
