<h1 class="one-trail-name"><%= trailData.name %></h1>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="img-wrapper">
        <% if (trailData.imgSmallMed) { %>
          <img src="<%= trailData.imgSmallMed %>" />
        <% } %>

          <a target="_blank" class="trail-url" href="<%= trailData.url %>">
            <i class="fas fa-map-marked-alt"> view map</i>
          </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class=" one-result one-result col s12">
      <% if (trailData.summary) { %>
      <p><%= trailData.summary %></p>
      <% } %>
      <p>Level of Difficulty: <%= trailData.difficulty %></p>
      <p>Rating: <%= trailData.stars %></p>
      <p><%= trailData.location %></p>
      <p><%= trailData.length %> miles</p>

      <form action="/trail" method="POST">
        <input name="trailId" type="hidden" value="<%= trailData.id %>">
        <button class="add-fav-button" type="submit" name="button">Add to Favorites</button>
      </form>
    </div>
  </div>
</div>
